
html{
    font-size: 100%;

}
// .container-fluid{
//     padding: 0px;
//     margin: 0px;
// }
// enable this to get full width website
// .container-fluid{
//     padding: 0px;
//     margin: 0px;
// }
// logo can be resize by this or by the size provided in image tag
.navbar{
    padding: 0px;
}
.logo_img{
    max-width: 100%;
    height: auto;
}

nav div>ul>li>a {
    
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
}

div > ul > li.active a{
    color: #0062cc !important;
}

div>ul>li>a:hover{
    color: #0062cc !important;
    transition: 200ms ease-in-out;
}

    // slider height can be increased by resizing image heigth

.carousel-item  {

    img{
    height: auto;
    }
  }




.animateBar{
    transition: 750ms  ease-in-out;
    background-color:white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }


@media (max-width: 992px) { 

    // this will give color to the li 
    nav > div>ul>li{

        background-color: #fff;
        color:#0062cc !important;
        outline: 2px solid #fff !important;
        transition: 500ms ease-in-out;

    }

    // this will give color to a as default
    nav > div>ul>li > a{
        color:#0062cc !important;
    }

 
    // to resolve the problem that initially outline was not randring and for hover effect
    nav div > ul > li.active a,  nav div>ul>li>a:hover{
        transition: 500ms ease-in-out;
        outline: 1px solid #0062cc !important;
        color:#fff !important;
        background-color:#0062cc ;   

     }

 }
 @media(max-width : 575px){
    .filter-btn button{
        margin: 0.5rem ;
        
    }

 }


 //designing backtotop icon and emailus icon
 #backtotop , #emailus{
    position: fixed; 
    right: 1rem;
    z-index: 22;
    transition: 200ms ease-in-out;
 
    .backtotopsvg,.emailussvg{

        fill:none;
        stroke-width:1;
        stroke:#0062cc;
        transition: 200ms ease-in-out;

        &:hover{
            transition: 200ms ease-in-out;
            stroke:#7dcc18;
            cursor: pointer;
        }

    }

 }

 #backtotop { 
    bottom: -5.2rem;
}

#emailus{
    bottom: 1rem; 

}
 //designing backtotop icon and emailus icon ended



//  galary started

.gallery-title
{
    font-size: 2.3rem;
    color: #0062cc;
    text-align: center;
    
}

.filter-button
{
    font-size: 1.2rem;
    border: 1px solid #0062cc;
    border-radius: 5px;
    text-align: center;
    color: #0062cc;

}
.filter-button:hover
{
    
    border: 1px solid #0062cc;
    color: #ffffff;
    background-color: #0062cc;

}



    .gallery_product img
    {
        box-shadow: 35px 31px 68px -5px rgba(0,0,0,0.27);
        transition: 0.5s;
        margin-bottom: 2.8rem;
     
    
    &:hover{
        box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.4);
        cursor: pointer;

    }
}

#galary {
    .container-fluid{
        padding:0px !important;
        .row{
            width: 100%;
        }
        
    }
}
//  galary ended


// footer started
#footer{
    background-image: linear-gradient(to top, #121212 0%, #323232 100%);
    a{
        color:#fff;
        text-decoration: none;
    }
    h3{
        color:#fff;
    }
    ul{
        padding: 0px;
    }
    strong{
        color:#7dcc18 !important;
    }
}
// footer ended


// contact info 
@media(max-width: 547px){
    
    #navbar{
        display: block;
        text-align: center;
        
        #contact_info{
            display: block;
            
        }
        button{
         margin-top: 0rem;   
         margin-bottom: 0rem;   
        }

    }
    .gallery_product img{
        width:80%;
    }
    nav div>ul>li>a {
    
        font-size: 1rem;
    
    }
    .logo_img{
        max-width: 70%;
        
    }
    
}
body{
    overflow-x: hidden;
}

/* hero section */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1
{font-size:2em;margin:.67em 0}img{border-style:none}button{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button{overflow:visible}button{text-transform:none}button{-webkit-appearance:button}button::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring{outline:1px dotted ButtonText}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}html
{box-sizing:border-box;font-family:sans-serif}*,::after,::before{box-sizing:inherit}h1,h3,p{margin:0}button{background:0 0;padding:0}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}html{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";line-height:1.5}*,::after,::before{border-width:0;border-style:solid;border-color:#e2e8f0}
img{border-style:solid}button{cursor:pointer}h1,h3{font-size:inherit;font-weight:inherit}button{padding:0;line-height:inherit;color:inherit}img,svg{display:block;vertical-align:middle}
img{max-width:100%;height:auto}.container{width:100%}@media (min-width:640px){.container{max-width:640px}}@media (min-width:768px){.container{max-width:768px}}
@media (min-width:1024px){.container{max-width:1024px}}@media (min-width:1280px){.container{max-width:1280px}}.bg-white{background-color:#fff}.rounded-full{border-radius:9999px}
.rounded-t{border-top-left-radius:.25rem;border-top-right-radius:.25rem}.flex{display:flex}.flex-col{flex-direction:column}
.flex-wrap{flex-wrap:wrap}.items-start{align-items:flex-start}.items-center{align-items:center}.justify-center{justify-content:center}
.font-bold{font-weight:700}.h-1{height:.25rem}.leading-tight{line-height:1.25}.leading-normal{line-height:1.5}
.my-0{margin-top:0;margin-bottom:0}.my-2{margin-top:.5rem;margin-bottom:.5rem}.my-4{margin-top:1rem;margin-bottom:1rem}
.my-6{margin-top:1.5rem;margin-bottom:1.5rem}.mx-auto{margin-left:auto;margin-right:auto}.mb-4{margin-bottom:1rem}
.mb-8{margin-bottom:2rem}.mb-12{margin-bottom:3rem}.-mt-12{margin-top:-3rem}.opacity-25{opacity:.25}
.py-0{padding-top:0;padding-bottom:0}.px-3{padding-left:.75rem;padding-right:.75rem}.py-4{padding-top:1rem;padding-bottom:1rem}
.py-6{padding-top:1.5rem;padding-bottom:1.5rem}.px-8{padding-left:2rem;padding-right:2rem}.pt-24{padding-top:6rem}
.relative{position:relative}.shadow-lg{box-shadow:0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)}
.text-center{text-align:center}.text-white{color:#fff}.text-gray-800{color:#2d3748}.text-2xl{font-size:1.5rem}
.text-3xl{font-size:1.875rem}.text-5xl{font-size:3rem}.uppercase{text-transform:uppercase}
.hover\:underline:hover{text-decoration:underline}.tracking-normal{letter-spacing:0}.w-1\/6{width:16.666667%}.w-full{width:100%}.z-50{z-index:50}@media (min-width:768px){.md\:flex-row{flex-direction:row}.md\:text-left{text-align:left}.md\:w-2\/5{width:40%}.md\:w-3\/5{width:60%}.md\:w-4\/5{width:80%}}
@media (min-width:1024px){.lg\:mx-0{margin-left:0;margin-right:0}.lg\:-mt-24{margin-top:-6rem}}

.gradient {
  background: linear-gradient(90deg, #134cc7 0%, #7990c2 100%);
  /* background: no-repeat; */
}

.navbar-nav a{
  color: #fff !important;
}
/*# sourceMappingURL=/style.e308ff8e.css.map */