
html{
    font-size: 100%;

}
// enable this to get full width website
// .container-fluid{
//     padding: 0px;
//     margin: 0px;
// }
// logo can be resize by this or by the size provided in image tag
.logo_img{
    max-width: 100%;
    height: auto;
}

div>ul>li>a {
    
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
}

div > ul > li.active a{
    color: #0062cc !important;
}

div>ul>li>a:hover{
    color: #0062cc !important;
    transition: 200ms ease-in-out;
}

    // slider height can be increased by resizing image heigth
.carousel-item img {
    height: 60vh;
  }




.animateBar{
    transition: 750ms  ease-in-out;
    background-color:white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }


@media (max-width: 992px) { 

    // this will give color to the li 
    nav > div>ul>li{

        background-color: #fff;
        color:#0062cc !important;
        outline: 2px solid #fff !important;
        transition: 500ms ease-in-out;

    }

    // this will give color to a as default
    nav > div>ul>li > a{
        color:#0062cc !important;
    }

 
    // to resolve the problem that initially outline was not randring and for hover effect
    nav div > ul > li.active a,  nav div>ul>li>a:hover{
        transition: 500ms ease-in-out;
        outline: 1px solid #0062cc !important;
        color:#fff !important;
        background-color:#0062cc ;   

     }

 }


 //designing backtotop icon and emailus icon
 #backtotop , #emailus{
    position: fixed; 
    right: 1rem;
    z-index: 22;
    transition: 200ms ease-in-out;
 
    .backtotopsvg,.emailussvg{

        fill:none;
        stroke-width:1;
        stroke:#0062cc;
        transition: 200ms ease-in-out;

        &:hover{
            transition: 200ms ease-in-out;
            stroke:#000;
            cursor: pointer;
        }

    }

 }

 #backtotop { 
    bottom: -5.2rem;
}

#emailus{
    bottom: 1rem; 

}
 //designing backtotop icon and emailus icon ended